body {
	background: #282931;
	-webkit-font-smoothing: antialiased;
	font-family: "Varela Round", sans-serif;
	height: 100%;	
}

canvas {
	height: 100vh;
	z-index: -10;
	position: fixed;
	top: 0px;
}

.logo {
	font-family: "Monoton", cursive;
	color: white;
	font-size: 5rem;
	margin-bottom: 1.3rem;
}

h1 {
	color: #fc3565;
	font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2, h3 {
	color: #fff;
    font-weight: 700;
}

h2 {	
	font-size: 2rem;
	font-weight: bold;
	margin-top: 0.5rem;
}

h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 1rem;
}

a {
	color: #bbbbc4;
	text-decoration: none;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.button:hover {
	color: #fc3565 !important;
}

p {
	color: #e6e6e6;
    margin: 0.8rem 0;
    line-height: 1.6;
}

.container {
	padding-top: 1.5rem;
	display: flex;
	justify-content: center;
	width: 60%;
	margin: 0 auto;
	padding-bottom: 3rem;
}

.button {
	box-sizing: border-box!important;
    background-color: initial!important;
    border: 0!important;
    border-radius: 0!important;
    box-shadow: inset 0 0 0 2px #fff!important;
    color: #fff!important;
    cursor: pointer!important;
    display: inline-block!important;
    font-size: .8em!important;
    font-weight: 600!important;
    height: 3.5em!important;
    letter-spacing: .25em!important;
    line-height: 3.5em!important;
    padding: 0 1.75em!important;
    text-align: center!important;
    text-decoration: none!important;
    text-transform: uppercase!important;
    white-space: nowrap!important;
    margin-bottom: 2rem!important;
}

.content__details {
	display: flex;
	justify-content: space-between;
}

.content__details__text {
	width: 30%;
}



.footer {
	justify-content: center;
	width: 40%;
	margin: 0 auto;	
}


.logo--footer {
	font-family: "Monoton", cursive;
	color: white;
	font-size: 2rem;
	margin-bottom: 1.3rem;
	display: flex;
	justify-content: center;
	padding-top: 2rem;
}

footer ul {
	display: flex;
	justify-content: center;
	color: white;
}

footer li {
	margin-right: 2rem;
	margin-bottom: 2rem;
}

footer a:hover {
	color:  #fc3565;
}
/* Mobile first queries */

/* Larger than mobile */

@media (min-width: 400px) {
}

/* Larger than phablet */

@media (max-width: 550px) {
	h1 {
	 font-size: 2rem;
		}
	h2 {
		font-size: 1.5rem;
	}
		.container {
			width: 90%;			
			margin: 0 auto;
			padding: 1rem;
		}
		footer ul {
		margin-left: 2rem;
		}
		.content__details {
			display: inline-block;			
		}
		.content__details__text {
			width: 100%;
		}
}

/* Larger than tablet */

@media (min-width: 750px) {
}

/* Larger than desktop */

@media (min-width: 1000px) {
}

/* Larger than Desktop HD */

@media (min-width: 1200px) {
h1 {
font-size: 2.8rem;
}
}
  