body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 50000%;
	animation: gradient 15s ease infinite;	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    color: white;
	font-weight: bold;
}

.main__welcomepage {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);	
}


.button-two {
	border-radius: 4px;
	background-color: none;
	border: none;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
  }
  
  
  .button-two span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button-two span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button-two:hover span {
	padding-right: 25px;
  }
  
  .button-two:hover span:after {
	opacity: 1;
	right: 0;
  }
  
